/TMFC028-PartyManagement/CTK/componentCTK/resources/
/TMFC028-PartyManagement/CTK/componentCTK/Reports/
/TMFC028-PartyManagement/CTK/componentCTK/src/node_modules
/TMFC028-PartyManagement/CTK/componentCTK/src/features/payloads
/TMFC028-PartyManagement/CTK/componentCTK/src/deployment.json
